# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/
.coverage.*

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log